footer.footer
      .footer-content
        .container
          .row
            .footer-col.links.col-md-3.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title About us
                ul.list-unstyled
                  li
                    a.about-nav(href='#')
                      i.fa.fa-caret-right
                      | Who we are
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Contact us
            .footer-col.links.col-md-3.col-sm-4.col-xs-12.sm-break
              .footer-col-inner
                //
                  h3.title Support
                  ul.list-unstyled
                    li
                      a(href='#')
                        i.fa.fa-caret-right
                        | Terms of services
                    li
                      a(href='#')
                        i.fa.fa-caret-right
                        | Privacy
            .footer-col.links.col-md-3.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title Follow us
                ul.social.list-inline
                  li
                    a(href='https://www.facebook.com/chewsrfoodapp', target='_blank')
                      i.fa.fa-twitter
                  li
                    a(href='https://www.twitter.com/chewsrA', target='_blank')
                      i.fa.fa-facebook
                  li
                    a(href='https://plus.google.com/102869484670742655194', target='_blank')
                      i.fa.fa-google-plus
                  li
                    a(href='https://www.linkedin.com/company/chewsr', target='_blank')
                      i.fa.fa-linkedin                    
                  li
                    a(href='http://www.instagram.com/Chewsr_', target='_blank')
                      i.fa.fa-instagram
                  li.row-end
                    a(href='http://chewsr.tumblr.com', target='_blank')
                      i.fa.fa-tumblr
            .footer-col.connect.col-xs-12.col-md-3
              .footer-col-inner
                h3.title Contact us
                //
                  p.adr.clearfix
                    i.fa.fa-map-marker.pull-left
                    span.adr-group.pull-left
                      span.street-address College Green
                      br
                      span.region 56 College Green Road
                      br
                      span.postal-code BS1 XR18
                      br
                      span.country-name UK
                p.tel
                  i.fa.fa-phone
                  |  1300 CHEWSR
                p.email
                  i.fa.fa-envelope-o
                  a(href='#')  info@chewsr.com
                a.twitter-follow-button(href='https://www.twitter.com/chewsrA', data-show-count='false') Follow @chewsrA
                
            .clearfix
          // //row
          .row.has-divider
            .footer-col.contact.col-xs-12.col-md-6
              .footer-col-inner
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              // //footer-col-inner
            // //contact
        // //container
      // //footer-content
      .bottom-bar
        .container
          small.copyright
            | Copyright @ 
            a(href='http://www.chewsr.com/', target='_blank') Chewsr PTY LTD
script(src=contents.assets.plugins['jquery-1.12.3.min.js'].url)
script(src=contents.assets.plugins.bootstrap.js['bootstrap.min.js'].url)
script(src=contents.assets.plugins['bootstrap-hover-dropdown.min.js'].url)
script(src=contents.assets.plugins['back-to-top.js'].url)
script(src=contents.assets.plugins.jqueryplaceholder['jquery.placeholder.js'].url)
script(src=contents.assets.plugins.FitVids['jquery.fitvids.js'].url)
script(src=contents.assets.plugins.flexslider['jquery.flexslider.js'].url)
script(src=contents.assets.js['main.js'].url)
script(src='http://a.vimeocdn.com/js/froogaloop2.min.js')
script(src=contents.assets.js['vimeo.js'].url)
