footer.footer
      .footer-content
        .container
          .row
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title About us
                ul.list-unstyled
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Who we are
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Press
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Blog
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Jobs
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Contact us
              // //footer-col-inner
            // //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12
              .footer-col-inner
                h3.title Product
                ul.list-unstyled
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | How it works
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | API
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Download Apps
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Pricing
              // //footer-col-inner
            // //foooter-col
            .footer-col.links.col-md-2.col-sm-4.col-xs-12.sm-break
              .footer-col-inner
                h3.title Support
                ul.list-unstyled
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Help
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Documentation
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Terms of services
                  li
                    a(href='#')
                      i.fa.fa-caret-right
                      | Privacy
              // //footer-col-inner
            // //foooter-col
            .footer-col.connect.col-xs-12.col-md-6
              .footer-col-inner
                ul.social.list-inline
                  li
                    a(href='https://twitter.com/3rdwave_themes', target='_blank')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-google-plus
                  li
                    a(href='#')
                      i.fa.fa-instagram
                  li.row-end
                    a(href='#')
                      i.fa.fa-rss
                .form-container
                  p.intro Stay up to date with the latest news and offers from Velocity
                  form.signup-form.navbar-form
                    .form-group
                      input.form-control(type='text', placeholder='Enter your email address')
                    button.btn.btn-cta.btn-cta-primary(type='submit') Subscribe Now
                // //subscription-form
              // //footer-col-inner
            // //foooter-col
            .clearfix
          // //row
          .row.has-divider
            .footer-col.download.col-xs-12.col-md-6
              .footer-col-inner
                h3.title Mobile apps
                ul.list-unstyled.download-list
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-apple
                      span.text Download for iOS
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-android
                      span.text Download for Android
                  li
                    a.btn.btn-ghost(href='#')
                      i.fa.fa-windows
                      span.text Windows coming soon...
              // //footer-col-inner
            // //download
            .footer-col.contact.col-xs-12.col-md-6
              .footer-col-inner
                h3.title Contact us
                p.adr.clearfix
                  i.fa.fa-map-marker.pull-left
                  span.adr-group.pull-left
                    span.street-address College Green
                    br
                    span.region 56 College Green Road
                    br
                    span.postal-code BS1 XR18
                    br
                    span.country-name UK
                p.tel
                  i.fa.fa-phone
                  | 0800 123 4567
                p.email
                  i.fa.fa-envelope-o
                  a(href='#') enquires@website.com
                a.twitter-follow-button(href='https://twitter.com/3rdwave_themes', data-show-count='false') Follow @3rdwave_themes
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              // //footer-col-inner
            // //contact
        // //container
      // //footer-content
      .bottom-bar
        .container
          small.copyright
            | Template Copyright @ 
            a(href='http://themes.3rdwavemedia.com/', target='_blank') 3rd Wave Media
script(src=contents.assets.plugins['jquery-1.12.3.min.js'].url)
script(src=contents.assets.plugins.bootstrap.js['bootstrap.min.js'].url)
script(src=contents.assets.plugins['bootstrap-hover-dropdown.min.js'].url)
script(src=contents.assets.plugins['back-to-top.js'].url)
script(src=contents.assets.plugins.jqueryplaceholder['jquery.placeholder.js'].url)
script(src=contents.assets.plugins.FitVids['jquery.fitvids.js'].url)
script(src=contents.assets.plugins.flexslider['jquery.flexslider.js'].url)
script(src=contents.assets.js['main.js'].url)
script(src='http://a.vimeocdn.com/js/froogaloop2.min.js')
script(src=contents.assets.js['vimeo.js'].js)
