doctype html
block vars
  - var bodyclass = 'home-page'
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100')
      link(rel='stylesheet', href=contents.assets.plugins.bootstrap.css['bootstrap.min.css'].url)
      link(rel='stylesheet', href=contents.assets.plugins.fontawesome.css['font-awesome.css'].url)
      link(rel='stylesheet', href=contents.assets.plugins.flexslider['flexslider.css'].url)
      link(rel='stylesheet', href=contents.assets.css['styles.css'].url)
      link(rel='stylesheet', href=contents.assets.css['custom.css'].url)
  body(class=bodyclass)
    include header
    include slides
    
    .sections-wrapper
      include ./sections/why
      include ./sections/testimonials
      include ./sections/press
      include ./sections/getcta

    include footer
    include modal